---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/PurchaseOrders/<%= purchase_order_number %>
  response:
    status:
      code: 200
    body:
      encoding: UTF-8
      string:
        "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">
          <Id>8735153c-2fe8-4acb-ad41-ee4b53e71d0f</Id>
          <Status>OK</Status>
        </Response>"
  recorded_at: Fri, 11 Mar 2016 23:10:50 GMT
- request:
    method: put
    uri: https://api.xero.com/api.xro/2.0/PurchaseOrders?summarizeErrors=false
    body:
      encoding: US-ASCII
      string: fake_payload
  response:
    status:
      code: 200
    body:
      encoding: UTF-8
      string:
        "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">
          <Id>99fb9e75-b42b-496f-a20b-e6281cad2d75</Id>
          <Status>OK</Status>
          <ProviderName>MLVK - Staging</ProviderName>
          <DateTimeUTC>2016-03-11T23:10:53.6215473Z</DateTimeUTC>
          <PurchaseOrders>
            <PurchaseOrder status=\"OK\">
              <Contact>
                <ContactID>f53c0137-9ff7-46a9-b7a5-2c079e1017ad</ContactID>
                <ContactStatus>ACTIVE</ContactStatus>
                <Name>NW001 - Nature Well - Silverlake</Name>
                <Addresses>
                  <Address>
                    <AddressType>POBOX</AddressType>
                  </Address>
                  <Address>
                    <AddressType>STREET</AddressType>
                  </Address>
                </Addresses>
                <Phones>
                  <Phone>
                    <PhoneType>DEFAULT</PhoneType>
                  </Phone>
                  <Phone>
                    <PhoneType>MOBILE</PhoneType>
                  </Phone>
                  <Phone>
                    <PhoneType>FAX</PhoneType>
                  </Phone>
                  <Phone>
                    <PhoneType>DDI</PhoneType>
                  </Phone>
                </Phones>
                <UpdatedDateUTC>2016-03-10T18:24:53.993</UpdatedDateUTC>
                <IsSupplier>false</IsSupplier>
                <IsCustomer>true</IsCustomer>
              </Contact>
              <Date>2016-03-01T00:00:00</Date>
              <DueDate>2016-03-15T00:00:00</DueDate>
              <Status>AUTHORISED</Status>
              <LineAmountTypes>Exclusive</LineAmountTypes>
              <LineItems>
                <LineItem>
                  <ItemCode>Sunseed Chorizo</ItemCode>
                  <Description>No description</Description>
                  <UnitAmount>5.00</UnitAmount>
                  <TaxType>NONE</TaxType>
                  <TaxAmount>0.00</TaxAmount>
                  <LineAmount>25.00</LineAmount>
                  <AccountCode>400</AccountCode>
                  <Quantity>5.0000</Quantity>
                  <LineItemID>45027871-55df-4b25-b01a-ca26af4a9fff</LineItemID>
                </LineItem>
              </LineItems>
              <SubTotal>25.00</SubTotal>
              <TotalTax>0.00</TotalTax>
              <Total>25.00</Total>
              <UpdatedDateUTC>2016-03-11T23:10:51.14</UpdatedDateUTC>
              <CurrencyCode>USD</CurrencyCode>
              <Type>ACCREC</Type>
              <PurchaseOrderID><%= remote_purchase_order_id %></PurchaseOrderID>
              <PurchaseOrderNumber><%= purchase_order_number %></PurchaseOrderNumber>
              <AmountDue>25.00</AmountDue>
              <AmountPaid>0.00</AmountPaid>
              <SentToContact>true</SentToContact>
              <CurrencyRate>1.000000</CurrencyRate>
            </PurchaseOrder>
          </PurchaseOrders>
        </Response>"
  recorded_at: Fri, 11 Mar 2016 23:10:53 GMT
recorded_with: VCR 3.0.1
