---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/PurchaseOrders
  response:
    status:
      code: 200
    body:
      encoding: UTF-8
      string:
        "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">
          <Id>ef14bd2f-6758-490d-bc38-d771062a48b9</Id>
          <Status>OK</Status>
          <PurchaseOrders>
            <PurchaseOrder>
              <Contact>
                <ContactID>f53c0137-9ff7-46a9-b7a5-2c079e1017ad</ContactID>
                <Name>NW001 - Nature Well - Silverlake</Name>
              </Contact>
                <LineItems>
                  <% order_items.each do |order_item|%>
                    <LineItem>
                      <ItemCode><%= order_item.item.code %></ItemCode>
                      <Description>No description</Description>
                      <UnitAmount><%= order_item.unit_price %></UnitAmount>
                      <TaxType>NONE</TaxType>
                      <TaxAmount>0.00</TaxAmount>
                      <LineAmount>30.00</LineAmount>
                      <AccountCode>400</AccountCode>
                      <Quantity><%= forced_quantity %></Quantity>
                      <LineItemID>na</LineItemID>
                    </LineItem>
                  <% end %>
                </LineItems>
              <Date>2016-03-01T00:00:00</Date>
              <DueDate>2016-03-15T00:00:00</DueDate>
              <Status>AUTHORISED</Status>
              <LineAmountTypes>Exclusive</LineAmountTypes>
              <SubTotal>25.00</SubTotal>
              <TotalTax>0.00</TotalTax>
              <Total>25.00</Total>
              <UpdatedDateUTC>2016-03-11T23:10:51.14</UpdatedDateUTC>
              <CurrencyCode>USD</CurrencyCode>
              <Type>AUTHORISED</Type>
              <PurchaseOrderID><%= purchase_order_id %></PurchaseOrderID>
              <PurchaseOrderNumber><%= purchase_order_number %></PurchaseOrderNumber>
              <AmountDue>25.00</AmountDue>
              <AmountPaid>0.00</AmountPaid>
              <AmountCredited>0.00</AmountCredited>
              <SentToContact>true</SentToContact>
              <CurrencyRate>1.000000</CurrencyRate>
              <HasAttachments>false</HasAttachments>
            </PurchaseOrder>
          </PurchaseOrders>
        </Response>"
  recorded_at: Sun, 13 Mar 2016 20:21:05 GMT
recorded_with: VCR 3.0.1
