# Requires:
# item_id
# code
# name
# description
# code_changed
# name_changed
# description_changed
#
# Note, the changed response will append 'FORCE' to the string to
# allow tests to confirm they process through the app code
# test equal against: 'my_new_nameFORCE'

---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Items/<%= item_id %>
  response:
    status:
      code: 200
    body:
      encoding: UTF-8
      string:
        "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">
          <Id>6acbcb11-4fea-46c4-8dfa-fb2e282045e0</Id>
          <Status>OK</Status>
          <Items>
            <Item>
            <ItemID><%= item_id %></ItemID>
            <Code><%= code %></Code>
            <Name><%= name %></Name>
            <Description><%= description %></Description>
            <IsSold>true</IsSold>
            <IsPurchased>true</IsPurchased>
            </Item>
          </Items>
        </Response>"
  recorded_at: Mon, 07 Mar 2016 22:42:18 GMT
- request:
    method: post
    uri: https://api.xero.com/api.xro/2.0/Items?summarizeErrors=false
    body:
      encoding: US-ASCII
      string: xml=%3CItems%3E%0A%20%20%3CItem%3E%0A%20%20%20%20%3CItemID%3Eb3d9696b-13f3-455a-aac9-c5b26e9b71ea%3C%2FItemID%3E%0A%20%20%20%20%3CCode%3ESunseed%20Chorizo%20-%20Changed%3C%2FCode%3E%0A%20%20%20%20%3CPurchaseDescription%3EForce%20Change%3C%2FPurchaseDescription%3E%0A%20%20%20%20%3CPurchaseDetails%3E%0A%20%20%20%20%3C%2FPurchaseDetails%3E%0A%20%20%20%20[...]
