---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Items/<%= item_id %>
  response:
    status:
      code: 200
    body:
      encoding: UTF-8
      string:
        "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">
          <Id>6acbcb11-4fea-46c4-8dfa-fb2e282045e0</Id>
          <Status>OK</Status>
          <Items>
            <Item>
              <ItemID><%= item_id %></ItemID>
            </Item>
          </Items>
        </Response>"
  recorded_at: Mon, 07 Mar 2016 22:42:18 GMT
- request:
    method: post
    uri: https://api.xero.com/api.xro/2.0/Items?summarizeErrors=false
    body:
      encoding: US-ASCII
      string: fake_payload
  response:
    status:
      code: 200
    body:
      encoding: UTF-8
      string:
        "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">
          <Id>1bb8d0b3-d3b7-415f-895d-5d4569833e53</Id>
          <Status>OK</Status>
          <ProviderName>MLVK - Staging</ProviderName>
          <DateTimeUTC>2016-03-11T23:10:53.6215473Z</DateTimeUTC>
          <Items>
            <Item status=\"OK\">
              <ItemID><%= item_id %></ItemID>
              <Code><%= code_changed %>FORCE</Code>
              <Name><%= name_changed %>FORCE</Name>
              <Description><%= description_changed %>FORCE</Description>
              <IsSold>false</IsSold>
              <IsPurchased>true</IsPurchased>
            </Item>
          </Items>
        </Response>"
  recorded_at: Mon, 07 Mar 2016 22:42:18 GMT
recorded_with: VCR 3.0.1
