---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Items/b3d9696b-13f3-455a-aac9-c5b26e9b71ea
  response:
    status:
      code: 200
    body:
      encoding: UTF-8
      string:
        "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">
          <Id>6acbcb11-4fea-46c4-8dfa-fb2e282045e0</Id>
          <Status>OK</Status>
          <Items>
            <Item>
            <ItemID>b3d9696b-13f3-455a-aac9-c5b26e9b71ea</ItemID>
            <Code>Sunseed Chorizo</Code>
            <Description>No description</Description>
            <IsSold>true</IsSold>
            <IsPurchased>true</IsPurchased>
            </Item>
          </Items>
        </Response>"
  recorded_at: Mon, 07 Mar 2016 22:42:18 GMT
- request:
    method: post
    uri: https://api.xero.com/api.xro/2.0/Items?summarizeErrors=false
    body:
      encoding: US-ASCII
      string: xml=%3CItems%3E%0A%20%20%3CItem%3E%0A%20%20%20%20%3CItemID%3Eb3d9696b-13f3-455a-aac9-c5b26e9b71ea%3C%2FItemID%3E%0A%20%20%20%20%3CCode%3ESunseed%20Chorizo%20-%20Changed%3C%2FCode%3E%0A%20%20%20%20%3CPurchaseDescription%3EForce%20Change%3C%2FPurchaseDescription%3E%0A%20%20%20%20%3CPurchaseDetails%3E%0A%20%20%20%20%3C%2FPurchaseDetails%3E%0A%20%20%20%20%3CSalesDetails%3E%0A%20%20%20%20%3C%2FSalesDetails%3E%0A%20%20%20%20%3CIsTrackedAsInventory%3Efalse%3C%2FIsTrackedAsInventory%3E%0A%20%20%20%20%3CIsSold%3Efalse%3C%2FIsSold%3E%0A%20%20%20%20%3CIsPurchased%3Etrue%3C%2FIsPurchased%3E%0A%20%20%3C%2FItem%3E%0A%3C%2FItems%3E%0A
  response:
    status:
      code: 200
    body:
      encoding: UTF-8
      string:
        "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">
          <Id>1bb8d0b3-d3b7-415f-895d-5d4569833e53</Id>
          <Status>OK</Status>
          <Items>
            <Item status=\"OK\">
              <ItemID>b3d9696b-13f3-455a-aac9-c5b26e9b71ea</ItemID>
              <Code>Sunseed Chorizo - Changed</Code>
              <Description>No description</Description>
              <IsSold>false</IsSold>
              <IsPurchased>true</IsPurchased>
            </Item>
          </Items>
        </Response>"
  recorded_at: Mon, 07 Mar 2016 22:42:18 GMT
recorded_with: VCR 3.0.1
