---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com
  response:
    status:
      code: 200
    body:
      encoding: UTF-8
      string:
        "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">
          <Status>OK</Status>
        </Response>"
  recorded_at: Sun, 06 Mar 2016 23:56:59 GMT
- request:
    method: put
    uri: https://api.xero.com
    body:
      encoding: US-ASCII
      string: xml=%3CContacts%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CName%3ENW001%20-%20Nature%20Well%20-%20Silverlake%3C%2FName%3E%0A%20%20%3C%2FContact%3E%0A%20%20%3CContact%3E%0A%20%20%20%20%3CName%3ENW002%20-%20Nature%20Well%20-%20Hollywood%3C%2FName%3E%0A%20%20%3C%2FContact%3E%0A%3C%2FContacts%3E%0A
  response:
    status:
      code: 200
    body:
      encoding: UTF-8
      string:
        "<Response xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">
          <Id>6ab16fd0-2dae-46ef-b908-4520747ce26c</Id>
          <Status>OK</Status>
          <Contacts>
            <Contact status=\"OK\">
              <ContactID><%= contact_id %></ContactID>
              <Name><%= contact_name %></Name>
              <ContactStatus>ACTIVE</ContactStatus>
              <IsSupplier>false</IsSupplier>
              <IsCustomer>true</IsCustomer>
            </Contact>
          </Contacts>
        </Response>"
  recorded_at: Sun, 06 Mar 2016 23:57:00 GMT
recorded_with: VCR 3.0.1
